@import "variables";

*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  background: url('../Images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

/* Full-width input fields */
/*input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	  font-size:16px;
}*/
input[type=text],input[type=password],select{
   width:90%;
   border:2px solid #aaa;
   border-radius:4px;
   margin: 8px 26px;
   outline:none;
   padding: 12px 20px;
   box-sizing:border-box;
   transition:.3s;
 }

 input[type=text]:focus,input[type=password]:focus{
    border-color:$orange;
    box-shadow:0 0 8px 0 $orange;
  }

  .withicon input[type=text],input[type=password]{
    padding-left:40px;
  }

  .withicon{
    position:relative;
  }

  .withicon i{
    padding-left: 10px;
    position:absolute;
    bottom: 40;
    left: 30;
    color:#aaa;
    transition:.3s;
  }

  .withicon input[type=text]:focus+i, input[type=password]:focus + i{
    color:$orange;
  }


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	  font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.container{
  color:white;
  h3{
    padding-left: 20px;
  }
  i{
    position: relative;

  }
}
/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: $blueLight;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


#topmenu{
  position: absolute;
  width: 100%;
  top: 0;

nav{
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  padding-bottom: 80px;
  transition: 0.3s;
  .logomain{
    padding-top: 10px;
    img{
      width: 300px;
      height: 80px;
    }
    img:hover{
      -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        animation: pulse 2s infinite;
    }
  }

  .logout3{
    float: right;
    display: inline-block;
    img{
      height: 50px;
      width: 50px;
    background-color:$redDark;
  }
    img:hover{background-color:$redLight;}
  }
  .homename{
    width: 150px;
    height: 50px;
    background-color: #3d8eb9;
    padding-top: 5px;
    display: inline-block;
    float: right;
    a{
        color: white;
        text-decoration:none;
        padding-left: 10px;
    }

  }
  .homename:hover{
    background-color: #54acd2;
  }

  .signup{
    a{
      height: 50px;
      text-decoration: none;
      float: right;
      display: inline-block;
      min-width: 130px;
      margin: 15px 5px;
      padding: 10px 15px 12px;
      font: 700 20px/1 'Open Sans', sans-serif;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
      cursor: pointer;
      color: white;
      background-color: #00B3E5;
      .fa{
        padding-right: 5px;
        padding-top: 2px;
        position: relative;
      }
    }
      a:hover{
        background-color: #FFA037;
        color:white;
      }
  }
  .login{
    a{
      height: 50px;
      text-decoration: none;
      float: right;
      display: inline-block;
      min-width: 130px;
      margin: 15px 5px;
      padding: 10px 15px 12px;
      font: 700 20px/1 'Open Sans', sans-serif;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
      cursor: pointer;
      color: white;
      background-color: #00B3E5;
      .fa{
        padding-right: 5px;
        padding-top: 2px;
        position: relative;
      }
    }
    a:hover{
      background-color: #FFA037;
      color: white;
    }
  }
  }


}
nav:hover{
  background-color: rgba(255, 255, 255, 0.7);
}



.sec1{
      background: url('../Images/bg3.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 800px;
      width: 100%;
      border-bottom: 5px solid $blueDark;
      overflow: hidden;
  }
.sec2{
    background: url('../Images/cd.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: none;
    display: inline-flex;
    float: left;
    border-bottom: 5px solid $blueDark;
    height: 600px;
    .box{
      border-radius: 2% 2%;
      background-color: rgba(255, 255, 255, 0.9);
      overflow: hidden;
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      height: 80%;
      width: 20.33%;
      border: 1px solid $orange;
      animation: pulse 2s infinite;
    }


.box:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
}


    @-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

    .logo1{
      display: inline-flex;
      border-bottom: 2px solid $blueDark;
      padding-left: 20px;
      overflow: hidden;
      padding-top: 5px;
      height: 18%;
      width: 100%;
    }
    .title{
      padding-top: 25px;
      font-size: 20px;
    }

    p{
      margin: 30px 30px;
    }
    h1{
      margin-left: 30px;
    }
  }

footer{
  position: absolute;
  height: 60px;
  top: 1400;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #141414;
  }

  .icon{
    overflow: hidden;
    display: inline-flex;
    float: left;
    a{
      padding-left: 10px;
    }
  img{
    height: 30px;
    width: 30px;
  }
  }
  .foot{
    font-size: 17px;
    padding-top: 2px;
    font-family: sans-serif;
    display: inline-flex;
    color: white;
    text-align: center;
    padding-left:720px;
  }
  .alert {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: none;
  position: relative;
  background-color: #272e3b;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  box-shadow: 0 0 0 1px #363d49 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert-error {
  color: #f00;
  background-color: #360e10;
  box-shadow: 0 0 0 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert:empty{
    display: none;
}
.alert-success {
  color: #21ec0c;
  background-color: #15360e;
  box-shadow: 0 0 0 1px #2a551e inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
